<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TR_Verwaltung.Properties.Settings.trv_dbConnectionString"
            connectionString="Data Source=|DataDirectory|\bin\Debug\trv_db.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>